frontend fe_http
    bind *:80
    mode tcp
    default_backend be_http

backend be_http
    mode tcp
    server target "${TARGET_SERVER}:80" send-proxy


frontend fe_https
    bind *:443
    mode tcp
    default_backend be_https

backend be_https
    mode tcp
    server target "${TARGET_SERVER}:443" send-proxy
